{% load static %}

<html>
    <head>
        {% include 'elements/includes.html' %}
        <title>2048+</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <style>
        #gameCanvas {
            width: 100%;
            max-width: 900px;
            aspect-ratio: 3 / 2;
            display: block;
            margin: 0 auto;
        }
    </style>
    <body>
        {% include 'elements/navbar.html' with active="home" %}
        <div class="d-flex flex-column pt-2 pb-2 h-100" style="background-color: #EDEDED;">
            <div class="vstack h-100">
                <div class="container-fluid text-center h-100">
                    <div class="row mb-5">
                        <h2 class="mb-4">2048+</h2>
                        <canvas id="gameCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        {% include 'elements/achieve_message.html' %}
        <script type="module" src="{% static '2048+/game.js' %}"></script>
    </body>
</html> 