{% load static %}

<style>
    .back {
        background: linear-gradient(135deg, #00dacb9f, #886abbce);
    }
</style>
<html>
    <head>
        {% include 'elements/includes.html' %}
        <title>Pixel Pursuit</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
<body>
    
{% include 'elements/navbar.html' with active="home" %}
<body>
    <div class="d-flex flex-column pt-2 pb-2" style="height: calc(100vh - 56px);">
        <div class="vstack h-100">
            <div class="container-fluid h-100" style="max-width: 70%;">
                <div class="row mb-5">
                    <div class="col text-center">
                        <h1 class="display-2">Pixel Pursuit</h1>
                    </div>
                </div>
                <div class="row">
                    <!-- Game 1 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
                        <div class="card bg-dark text-white h-100">
                            <img src="{% static 'assets/blank.png' %}" class="card-img" alt="image">
                            <div class="card-img-overlay">
                                <a href="{% url 'game_2048' %}" class="card-title stretched-link text-decoration-none text-white fs-1">2048+</a>
                            </div>
                        </div>
                    </div>
                    <!-- Game 2 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
                        <div class="card bg-dark text-white h-100">
                            <img src="{% static 'assets/blank.png' %}" class="card-img" alt="image">
                            <div class="card-img-overlay">
                                <a href="{% url 'game_tidal' %}" class="card-title stretched-link text-decoration-none text-white fs-1">Tidal Tap</a>
                            </div>
                        </div>
                    </div>
                    <!-- Game 3 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
                        <div class="card bg-dark text-white h-100">
                            <img src="{% static 'assets/minesweeper.png' %}" class="card-img" alt="image">
                            <div class="card-img-overlay">
                                <a href="{% url 'game_minesweeper' %}" class="card-title stretched-link text-decoration-none text-white fs-1">Minesweeper</a>
                            </div>
                        </div>
                    </div>
                    <!-- Game 4 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
                        <div class="card bg-dark text-white h-100">
                            <img src="{% static 'assets/chicken.png' %}" class="card-img" alt="image">
                            <div class="card-img-overlay ps-1 pe-1">
                                <a href="{% url 'plucking_chicken' %}" class="card-title stretched-link text-decoration-none text-white fs-1">Plucking Chicken</a>
                            </div>
                        </div>
                    </div>
                    <!-- Game 5 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
                        <div class="card bg-dark text-white h-100">
                            <img src="{% static 'assets/yahtzee.png' %}" class="card-img" alt="image">
                            <div class="card-img-overlay">
                                <a href="{% url 'yahtzee' %}" class="card-title stretched-link text-decoration-none text-white fs-1">Yahtzee</a>
                            </div>
                        </div>
                    </div>
                    <!-- Game 6 -->
                    <div class="col-12 col-sm-6 col-md-4 col-lg-4 pb-3">
                        <div class="card bg-dark text-white h-100">
                            <img src="{% static 'assets/food_fight.png' %}" class="card-img" alt="image">
                            <div class="card-img-overlay">
                                <a href="{% url 'food_fight' %}" class="card-title stretched-link text-decoration-none text-white fs-1">Food Fighters</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
