{% load static %}
<div class="col">
    <div class="card h-100 text-center p-3 border-0">
        <div class="mb-2">
            {% if achieve.achieved %}
            <img src="{% static 'assets/star_color.png' %}" alt="Star Icon" style="width: 80px; height: 80px;">
            {% else %}
            <img src="{% static 'assets/star_bw.png' %}" alt="Star Icon" style="width: 80px; height: 80px;">
            {% endif %}
        </div>
        <h5 class="card-title">{{ achieve.name }}</h5>
        <p class="card-text text-muted">{{ achieve.description }}</p>
      </div>
</div>